body {
    color: #495057;
    font-family: 'PT-Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
    background-size: 250px;
}
nav {
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.navbar-brand {
    color: #007bff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;   
}
.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-nav li {
    margin: auto;
    margin-right: 10px;
}
.navbar-nav a:not(.loginButton) {
    color: #495057;
    text-decoration: none;
    font-size: 1.1rem;
}
.navbar-nav a:hover:not(.loginButton) {
    color: #007bff;
    font-size:1.15rem;
}
.loginButton{
    display: inline-block;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.loginButton:hover{
    background-color: #2a5ac0;
}
footer{
    background-color:#333333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
footer p{
    color: #fff;
}


.gridContainer {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    margin-bottom: auto;
}
img {
    max-width: 100%;
    max-height: 350px;
    border-radius: 8px;
}
.card-body {
    text-align: left;
}
.card-title {
    font-size: 1.5rem;
    margin: 10px 0;
}
.card-text {
    margin-bottom: 10px;
}
price{
    color: #007bff;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: large;
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #2a5ac0;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}


.loginDiv {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    background-color: #fff;
}

.loginDiv h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: start;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}
fieldset{
    outline: none;
    border: none;
    padding: 0%;
    margin: 0%;
}
.loginDiv label {
    margin-bottom: 5px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    width: 100%;
}

input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 8px;
    border-width: 1px;
    border-color: #c6d2dd;
    resize: vertical;
}

.loginDiv input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.loginDiv input[type="submit"]:hover {
    background-color: #0056b3;
}

#error {
    color: #dc3545;
    margin-top: 10px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

h3 a {
    color: #007bff;
    text-decoration: none;
}

h3 a:hover {
    color: #0056b3;
    text-decoration: underline;
}
